img.smallAvatar {
  width: 3em;
  margin: 0.3em;
}
img.mediumAvatar {
  width: 5em;
  margin: 1em;
}

img.fullAvatar {
  width: 15em;
  margin: 2em;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
