img.smallAvatar {
  width: 3em;
  margin: 0.3em;
}
img.mediumAvatar {
  width: 5em;
  margin: 1em;
}

img.fullAvatar {
  width: 15em;
  margin: 2em;
}
.admin-panel .image-list-item {
  width: 5em;
  height: 5em;
  overflow: auto;
  margin: 1em;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
