body {
  padding: 1em;
  font-family: sans-serif;
}

.smart-item {
  background-color: #555;
  display: inline-table;
  height: 17em;
  padding: 1em;
    border-radius: 2em;
}
.smart-item .avatar {
     width: 12em;
}
.smart-item .avatar > img {
    object-fit: cover;
}
.smart-children-tray .smart-list-simple{
    padding: 1em;
}
.smart-children-tray .smart-item {
    height: 100%;
    background-color: transparent;
}
.smart-children-tray .avatar {
    width: 10em;
}
